.modal-button-container {
  padding:20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  border-radius: 8px;
}

.header-wrapper {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 8px 8px 0 0 ;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.close-button {
  font-size: 36px;
  cursor: pointer;
}

p {
  text-align: center;
  margin: 25px auto;
}

