body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}

.btn-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 400px;
    height: 200px;
}



@import './components/Button.scss';
@import './components/Modal.scss';